.mega-cont{
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template: "a" "b" "c";
    gap: 20px;
    width: 100%;
    height: fit-content;
}

.cont-item{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    margin: auto;
    font-size: 24px;
    text-align: center;

}
.cont-item > img{
    width: 150px;
    height: 150px;
    margin: auto
}